@media (max-width: 1024px) {
  header .container {
    padding: 1rem 0;
  }
  header ul {
    gap: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-btn {
    padding: 0.5rem 1rem;
  }

  .hero {
    padding: 3rem;
    background-position: center;
  }
  .hero-content {
    gap: 1rem;
    transform: translateY(-40px);
  }
  .hero-content h2 {
    font-size: 1.5rem;
  }
  .hero-content h1 {
    font-size: 3rem;
  }
  .hero-content p {
    font-size: 1rem;
  }
  .about {
    padding: 3rem 0;
  }
  .about .container {
    gap: 2rem;
  }
  .section-tag {
    font-size: 1.4rem;
  }
  .section-heading {
    font-size: 2rem;
  }
  .section-para {
    font-size: 0.8rem;
  }
  .programs {
    padding: 3rem 0;
  }
  .program-cards {
    gap: 1.5rem;
  }
  .trainers {
    padding: 3rem 0;
  }
  .trainer-cards {
    gap: 2rem;
  }
  .pricing {
    padding: 3rem 0;
  }
  .pricing-cards {
    gap: 1.5rem;
  }
  .contact {
    padding: 3rem 0;
  }
  .contact-info {
    padding-top: 3rem;
  }
  .footer-content {
    gap: 2rem;
    flex-wrap: wrap;
  }
  .footer-nav {
    gap: 1rem;
  }
  .footer-copyright {
    padding-top: 0;
  }
}

@media (max-width: 768px) {
  header .container {
    flex-direction: column;
    gap: 1rem;
  }
  header ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  .hero-btns {
    flex-direction: column;
    align-items: center;
  }
  .hero-btns a {
    width: 220px;
  }
  .primary-btn,
  .secondary-btn {
    padding: 0.8rem 1.4rem;
  }

  .about {
    padding: 2rem;
  }
  .about .container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .about-content {
    text-align: center;
  }
  .about-content ul {
  grid-template-columns: 1fr;
  }
  .program-cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .trainer-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .trainer-card {
    padding: 1rem;
  }
  .pricing-cards {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    max-width: 380px;
    margin: 0 auto;
  }
  .contact-info {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .footer-content{
    flex-direction: column;
    text-align: center;
  }
  .footer-brand p {
    margin-top: 0.25rem;
  }
}

